<dl class="aluminum-phone-numbers">
    {% for link in list %}
        <dt class="aluminum-phone-numbers__title">{{ link.title }}</dt>
        <dd class="aluminum-phone-numbers__definition"><a class="aluminum-phone-numbers__link" href="{{ link.url }}">{{ link.phone_number }}</a></dd>
    {% endfor %}
</dl>
