<ul class="aluminum-follow-list">
    {% for link in list %}
        <li class="aluminum-follow-list__item">
            <a class="aluminum-follow-list__link" href="{{ link.url }}">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ link.icon_class }} fa-stack-1x"></i>
              </span>
            </a>
        </li>
    {% endfor %}
</ul>
